@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    text-shadow: 0 0 10px #b74b4b;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}


.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #b74b4b;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}
section{
    width: 100%;
    min-height: 90vh;
}
section.main-container{
    display:flex;
    justify-content:space-between;
    padding-left:100px;
    align-items: center ;

}
.home-img img{
    
    
    border-radius:100%;
    overflow: hidden;
    box-shadow:0 0 50px #b74b4b ;
    

}

    

.home-img img{
    animation : animate 1.5s ease-in-out infinite;

}
@keyframes animate {
    0%{
        scale :1;
    }
    50%{
        scale:1.05;
    }
    100%{
        scale: 1;
    }
}


@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words{
    0%, 20%{
        content: "Tiktoker";
    }
    21%, 40%{
        content: "Gamer";
    }
    41%, 60%{
        content: "Future Programmer";
    }
    61%, 80%{
        content: "Basketball Player";
    }
    81%, 100%{
        content: "Arnis Player";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}
section .content{

width: 80%;

margin: 0px auto;

font-family: 'Poppins', sans-s

}

about .about-details{

display: flex;

justify-content: space-betwe



}

section .title{

display: flex;

justify-content: center;

margin-bottom: 40px;

}

section .title span{
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;

}
section .title span::before,

section .title span::after{

content: '';

position: absolute;

height: 3px;

width: 100%;

background: #b74b4b;

left: 0;

bottom: 0;

}

section .title span::after{

bottom: -7px;

width: 70%;

left: 50%;

transform: translateX(-50%);

}
.about .about-details .left{
    width:45%;
}
.about .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;

}
.about-details .left{
    width: 55%;
}
section .topic{
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about-details .left p{
    text-align: justify ;
    color: white;

}
section .button button{
    outline:none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background:#b74b4b

}
section .button button{
    color: white
    

}
section .button button{
    
    cursor:pointer;
    transition: all 0.4s ease;
}
section .button button{
    border: 2px solid transparent
}
section .button button:hover{
    border-color: #b74b4b;
    background-color: #fff;
    color: #b74b4b;

}
.skills{
    background: black;

}
.skills .content{
    padding:40px 0;
}
.skills .skills-detailes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-details .text{
    width: 50%;
    
}
.skills-details p{
    color:white;
    text-align: justify;
}
.skills .skills-details .experience{
    display: flex;
    align-items: center;
    margin: 0 10px;
} 
.skills-details .experience .num{
    color:white;
    font-size: 80px;
    
}  
.skills-details .experience .exp{
    color:white;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    margin:0 6px ;

}
.skills-details .boxes{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.skills-details .box{
    width: calc(100% /2-20px);
    margin: 20px 0;
}
.skills-details .boxes .topic{
    font-size: 20px;
    color:#b74b4b

}
.skills-details .boxes .per{
    font-size:60px ;
    color:#b74b4b;
}
.services .boxes{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.services .boxes .box{
    margin: 20px 0;
    width: calc(100% /3 -20px);
    text-align:center;
    border-radius:12px;
    padding:30px 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
    cursor:left;
    color:white;
    transition: all 0.4s ease;
}
.services .boxes .box:hover{
    background: #b74b4b;
    color:#fff;

}
.services .boxes .box .icon{
    height:50px;
    width: 50px;
    background: #b74b4b;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px ;
    color: #fff;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}
.boxes .box:hover .icon{
    background-color: #fff;
    color:#b74b4b;

}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
    color:#fff;

}
/* Contact */
.contact{
    background: black;
}
.contact .content{
    margin: 0 auto;
    padding: 30px 0;
}
.contact .text{
    width: 80%;
    text-align: center;
    margin: auto;
}
footer{
    background: #b74b4b;
    padding:15px 0;
    text-align: center;
    font-family: 'Poppins',sans-serif;
}
footer .text span{
    font-size: 17px;
    font-weight: 400;
    color:#fff;    
}
footer .text span a{
    font-weight: 500;
    color: #fff;
}
footer .text span a:hover{
    text-decoration: underline;
}
.scroll-button a{
    position:fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: #b74b4b;
    padding:  7px 12px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,0.15);
    display: none;
}
@media(max-width: 1000px){
.about .about-details{
    justify-content: center;
    flex-direction: column;
}
.about .about-details .left{
    display: flex;
    justify-content: center;
    width:100%;
}
.about-details .right {
    width:90px;
    margin: 40px 0;
}
.services .boxes.box{
    margin:20px 0;
    width: calc(100% /2-20px);
}
}
@media(max-width:900px){
.about .left img{
    height: 350px;
    width: 350px;

}
}
@media(max-width:965){
nav .logo{
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 1.5rem;
}    
section .main-container{
    padding-left: 0px;
    display: flex;
    flex-direction: column;        
} 
.nav-container .links{
    display: none;
}   
.hamburg,.cancel{
    opacity: 1;
    pointer-events: visible;
}
.main-container .content{
    margin-top: 20px;
    width: 80%;

}
.social-links i{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
} 
.main-container .image{
    z-index: -1;
    width: 50%;
    height: 60%; 
}
.skills .skills-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills-details .text{
    width: 100%;
    margin-bottom: 50px;
}
.skills-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
}
.services .boxes .box{
    margin: 20px 0;
    width: 100%;

}
.contact .text{
     width: 100%;   
}
}
@media(max-width: 500px){
main-container .image{
    width: 50%;
    height: 60%;
    margin-bottom: 0px;
}
.main-container .content{
    width: 80%;
}
.main-container .button{
    margin-top: 15px;
}
.skills-details .boxes .per{
    font-size: 50px;
    color: #b74b4b;
}
}